.colophon {
  text-align: center;
  margin-top: 3.2rem;
  font-size: 0.8rem;
}
.colophon-entry {
  color: grey;
  margin-bottom: 0;
}
.container {
  width: 80% !important;
  max-width: 80% !important;
  min-width: 80% !important;
}
