.footer {
  padding: 4em 0em 1em 0em !important;
  margin-top: 3em !important;
  border-top: 1px solid #f2f2f2 !important;
}
.colophon {
  text-align: center;
  margin-top: 3.2rem;
  font-size: 0.8rem;
}
.colophon-entry {
  color: grey;
  margin-bottom: 0;
}
.container {
  width: 80% !important;
  max-width: 80% !important;
  min-width: 80% !important;
}
